.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

/* Background gradient */
.bg-custom {
  background: linear-gradient(135deg, #d2d8c2,  #1a4b6b);
}

/* Fix top cut issue */
section {
  overflow: auto;
}