<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">

      <div class="card shadow">
        <div class="card-body">

          <h3 class="text-center text-danger mb-4">Forgot Password</h3>

          <form [formGroup]="myForgotForm" (ngSubmit)="forgotPassword()">

            <!-- Email -->
            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email" [class.is-invalid]="formControl['email'].touched && formControl['email'].invalid">
            </div>
            <div class="alert alert-danger" *ngIf="formControl['email'].touched && formControl['email'].invalid" >
                <div *ngIf="formControl['email'].errors && formControl['email'].errors['required']">
                    Email Id can not be empty
                </div>
                <div *ngIf="formControl['email'].errors && formControl['email'].errors['pattern']">
                    Please Enter Valid Email Id
                </div>
            </div>


            <!-- New Password -->
            <div class="mb-3">
              <label>New Password</label>
              <input 
                type="password" class="form-control" formControlName="password" [class.is-invalid]="formControl['password'].touched && formControl['password'].invalid">
            </div>
            <div class="alert alert-danger" *ngIf="formControl['password'].touched && formControl['password'].invalid" >
                <div *ngIf="formControl['password'].errors && formControl['password'].errors['required']">
                    Password can not be empty
                </div>
                 <div *ngIf="formControl['password'].errors && formControl['password'].errors['pattern']">
                    Please Enter Valid Password
                </div>
            </div>



            <!-- Button -->
            <button class="btn btn-danger w-100 mt-3" [disabled]="myForgotForm.invalid">
              Reset Password
            </button>

          </form>

          <div class="text-center mt-3">
            <small>
              Back to 
              <a routerLink="/login" class="text-danger fw-bold">Login</a>
            </small>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
